<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @person.fullname %>
</p>

<%= link_to 'Assign person to department', new_working_period_path(person: @person) %> |
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>

<%= render 'working_periods/working_periods' %>