<div class="card">
  <div class="card-header">
      <h3 class="mb-0"><%= t 'xx.history' %></h3>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th><%= t 'model.working_period.attributes.start_at' %></th>
          <th><%= t 'model.working_period.attributes.end_at' %></th>
          <th><%= t 'model.department.one' %></th>
          <th><%= t 'model.person.one' %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= render @working_periods %>
      </tbody>
    </table>
  </div>
</div>