<% people = department.people_working_on_date(@date) %>
<% count = people.nil? ? 0 : people.size %>

<li>
	<%= link_to dashboard_path(department: department, date: @date ), class: "#{'bg-primary' if department.id.to_s == params[:department]}" do %>
		<%= department.name_on_date(@date) %>
		<hr>
		<small><%= t '.people_count' %>: <%= count %></small>
		<small><%= t '.children_count' %>: <%= department.children.size %></small>
	<% end %>
	<% if department.children.any? %>
	<details>
	<summary></summary>
		<nav class="sub-menu">
			<ul>
				<%= render department.children %>
			</ul>
		</nav>
	</details>
	<% end %>
</li>