<h3>Change parent</h3>
<%= form_with(model: department, method: :put) do |form| %>
  <%= render '/shared/errors', object: department %>

  <div class="field">
    <%= form.label :parent_id %>
    <%= form.number_field :parent_id %>
  </div>
  
  <div class="field">
    <%= form.label :parent_id %>
    <%= form.number_field :parent_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
