<%= form_with(model: department) do |form| %>
  <%= render '/shared/errors', object: department %>

  <div class="field">
    <%= form.label :created_at %>
    <%= form.datetime_field :created_at %>
  </div>

  <div class="field">
    <%= form.label :disbanded_at %>
    <%= form.datetime_field :disbanded_at %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
