<p id="notice"><%= notice %></p>

<div class="card mb-3">
  <div class="card-header">
    <%= @department.name %>
  </div>
  <div class="card-body">

    <p>
      <strong>Name:</strong>
      <%= @department.name %>
    </p>

    <p>
      <strong>Created at:</strong>
      <%= @department.created_at %>
    </p>

    <p>
      <strong>Disbanded at:</strong>
      <%= @department.disbanded_at %>
    </p>

    <p>
      <strong>Parent:</strong>
      <%= @department.parent_id %>
    </p>

  </div>
</div>

<div class="btn-group mb-3" role="group" aria-label="Basic example">
  <%= link_to (t '.new'), new_department_path, class: 'btn btn-outline-success' %>
  <%= link_to 'Assign person to department', new_working_period_path(department_id: @department), class: 'btn btn-outline-secondary' %>
  <%= link_to 'Set parent', new_parent_department_path(@department), class: 'btn btn-outline-secondary' %>
  <%= link_to 'Set name', new_name_department_path(@department), class: 'btn btn-outline-secondary' %>
  <%= link_to 'Edit', edit_department_path(@department), class: 'btn btn-outline-secondary' %>
  <%= link_to 'List', departments_path, class: 'btn btn-outline-secondary' %>
</div>

<%= render 'active_periods/active_periods'  %>