<p id="notice"><%= notice %></p>

<p>
  <strong>Created at:</strong>
  <%= @department.created_at %>
</p>

<p>
  <strong>Disbanded at:</strong>
  <%= @department.disbanded_at %>
</p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @department.parent_id %>
</p>

<%= link_to 'Change name', change_name_department_path(@department) %> |
<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>

<h2>Actions</h2>

<%= render 'form_change_name', department: @department %>