<div class="card">
    <div class="card-header">
        <%= t 'xx.history' %>
    </div>
    <div>
        <table class="table">
            <tr>
                <th><%= t 'model.active_period.attributes.name' %></th>
                <th><%= t 'model.active_period.attributes.parent' %></th>
                <th><%= t 'model.active_period.attributes.start_at' %></th>
                <th><%= t 'model.active_period.attributes.end_at' %></th>
            </tr>
            <%= render @department.active_periods %>
        </table>
    </div>
</div>