<!DOCTYPE html>
<html>
  <head>
    <title>InterviewNaumen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">

    <ul class="nav nav-pills nav-justified my-3">
      <li class="nav-item active">
          <%= link_to 'Dashboard', dashboard_path, class: "nav-link #{'active' if current_page?(dashboard_path)}" %>
      </li>
      <li class="nav-item">
          <%= link_to 'People', people_path, class: "nav-link #{'active' if current_page?(people_path)}" %>
      </li>
      <li class="nav-item">
          <%= link_to 'Departments', departments_path, class: "nav-link #{'active' if current_page?(departments_path)}" %>
      </li>
    </ul>

    <%= yield %>
    
  </body>
</html>
