<!DOCTYPE html>
<html>
  <head>
    <title>InterviewNaumen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">

    <ul class="nav nav-tabs nav-justified">
      <li class="nav-item">
        <h4 class="mb-0">
          <%= link_to 'Dashboard', dashboard_path, class: 'nav-link' %>
        </h4>
      </li>
      <li class="nav-item">
        <h4 class="mb-0">
          <%= link_to 'People', people_path, class: 'nav-link' %>
        </h4>
      </li>
      <li class="nav-item">
        <h4 class="mb-0">
          <%= link_to 'Departments', departments_path, class: 'nav-link' %>
        </h4>
      </li>
    </ul>

    <%= yield %>
    
  </body>
</html>
